*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family:'inter', sans-serif;
    margin: 0%;
    padding: 2rem;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
#main{
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    background:white;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

/* Apply the following styles only when the screen (viewport) width is 1024px or larger. */
@media (min-width: 1024px) {
  #main {
    flex-direction: row;
  }
}
#title{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: black;
}
#subtitle{
    color: #6b7280;
    margin-bottom: 1.5rem;
}
.section-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: black;
}
#expense-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #374151;
}
.input-box{
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border 0.2s ease;
}
.input-box:focus{
    border-color: #2563eb;
    outline: none;
}
#button{
    background-color:#2563eb ;
    color: white;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
    width: 100%;
}
#button:hover{
    background-color: #1e40af;
}
#expenseList{
    margin-top: 2rem;
}
#expense-list{
   display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.empty-text {
  text-align: center;
  color: #9ca3af;
  margin-top: 1rem;
}
.expense-section {
  margin-top: 2rem;
}

.expense-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.expense-item .info p {
  margin: 0;
}

.expense-item .info .desc {
  font-weight: 500;
  color: #1f2937;
}

.expense-item .info .cat {
  font-size: 0.85rem;
  color: #6b7280;
}

.expense-item .amount {
  font-size: 1rem;
  font-weight: bold;
  color: #dc2626;
}

.delete-btn {
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 1rem;
  font-weight: bold;
}

.delete-btn:hover {
  color: #dc2626;
}

.empty-text {
  text-align: center;
  color: #9ca3af;
  margin-top: 1rem;
}
#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-container {
  width: 100%;
  height: 20rem;
}
.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}
